<!DOCTYPE html>
<html lang="rus">
    <head>
        <meta charset="utf-8">
        <title>Проект: Кибербезопасность</title>
        <link rel="icon" href="image\icons.png" type="image/x-icon">
        <style>
            body {
                display: flex;
                flex-direction: column;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
            }

            header {
                display: flex;
                justify-content: space-evenly;
                background-color: red;
                flex-direction: row;
                width: 100%;
                height: 100px;
                align-items: center;
                color: white;
                text-shadow: 3px 1px 0px black;
                font-weight: bold;
                text-transform: uppercase;
            }

            footer {
                margin: 0;
                display: flex;
                text-align: center;
                justify-content: center;
                background-color: red;
                color: white;
                text-shadow: 1px 1px 0px black;
                font-weight: bold;
                width: 100%;
                height: 100%;    
            }

            button {
                border-radius: 15px 10px;
                padding: 20px;
                background-color: rgb(253, 61, 61);
                border-width: 0;
                transition-duration: 1s;
                color: white;
            }

            button:hover {
                background-color: white;
                color: red;
            }

            .theory {
                transition:  1s;
            }

            .theory:hover {
                transform: scale(1.5);
            }

            .mentors {
                transition: 1s;
            }

            .mentors:hover {
                transform: scale(1.5);
            }

            .firstEvent {
                transition: 1s;
            }

            .firstEvent:hover {
                transform: scale(1.5);
            }

            .firstResult {
                transition: 1s;
            }

            .firstResult:hover {
                transform: scale(1.5);
            }

            .secondEvent {
                transition: 1s;
            }

            .secondEvent:hover {
                transform: scale(1.5);
            }

            .secondResult {
                transition: 1s;
            }

            .secondResult:hover {
                transform: scale(1.5);
            }

            .end {
                transition: 1s;
            }

            .end:hover {
                transform: scale(1.5);
            }

            .logo {
                width: 80px;
                height: 80px;
                opacity: 1;
                transition-duration: 1s;
            }

            .logo:hover {
                animation: logoAnim 2s ease 0s 1 normal forwards;
            }

            @keyframes logoAnim {
                0% {
                    opacity: 1;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
            .mainPage {
                background-image: url("image/RDDMfon1.jpg");
                background-position: center;
                background-size: cover;
            }
        </style>
    </head>
    <body>
        <header>
            <img src="image/logo.png" alt="РДДМ логотип" class="logo">

            <a herf="/">
                <button class="theory">Кибербезопасность</button>
            </a>
            <a href="mentors/">
                <button class="mentors">Менторы</button>  
            </a>
            <a href="event1/">
                <button class="firstEvent">Первое мероприятие</button>
            </a>
            <a href="result1/">
                <button class="firstResult">Первые итоги</button>
            </a>
            <a href="event2/">
                <button class="secondEvent">Второе мероприятие</button>
            </a>
            <a href="result2/">
                <button class="secondResult">Вторые результаты</button>
            </a>
            <a href="end/">
                <button class="end">Итоги</button>
            </a>
        </header>
        <div class="main">
            <span class="cyberprotect">
                <p class="theory_of_cp">
                    <b>Кибербезопасность</b> – это совокупность методов и практик защиты от атак злоумышленников для компьютеров, серверов, 
                    мобильных устройств, электронных систем, сетей и данных. 
                    Кибербезопасность находит применение в самых разных областях, от бизнес-сферы до мобильных технологий. 
                    В этом направлении можно выделить несколько основных категорий:
                </p>
                <ul class="cp_element">
                    <li class="cp_element web">Безопасность сетей</li>
                    <li class="cp_element app">Безопасность приложений</li>
                    <li class="cp_element info">Безопасность информации</li>
                    <li class="cp_element protect">Операционная безопасность</li>
                    <li class="cp_element knowledge">Повышение осведомленности</li>
                </ul>
                <p class="kind_of_cp">
                    Кибербезопасность в жизни решает проблемы с распространением киберугроз. 
                    Всего киберугроз существует три вида:
                </p>
                <ul class="kinds_of_cp">
                    <li class="kinds_of_cp cybercrime">
                        <b>Киберпреступление</b> - действия, организованные одним или несколькими злоумышленниками с целью атаковать систему, 
                        чтобы нарушить ее работу или извлечь финансовую выгоду.
                    </li>
                    <li class="kinds_of_cp cyberatack">
                        <b>Кибератака</b> – действия, нацеленные на сбор информации, в основном политического характера.
                    </li>
                    <li class="kinds_of_cp cyberterror">
                        <b>Кибертерроризм</b> - действия, направленные на дестабилизацию электронных систем с целью вызвать страх или панику
                    </li>
                </ul>
            </span>
            <span class="bad_programm_security">
                <p class="bad_po">
                    Зачастую киберпреступники для достижения своих целей используют <strong>вредоносное программное обеспечение</strong>.
                </p>
                <p class="bad_po_theory">
                    <b>Вредоносные программы</b> - это программы , намеренно разработанные и внедряемые для нанесения ущерба компьютерам и компьютерным системам. 
                    Если работа программы повлекла непреднамеренный ущерб , это обычно называют программной ошибкой.
                </p>
                <p class="kinds_of_po">Типы вредоносного ПО:</p>
                <ul class="kind_of_po">
                    <li class="kind_of_po spy">Шпионские программы</li>
                    <li class="kind_of_po ad">Рекламные программы</li>
                    <li class="kind_of_po trojan">Троянские программы</li>
                    <li class="kind_of_po virus">Черви и вирусы</li>
                    <li class="kind_of_po cipher">Программы-вымогатели и программы-шифровальщики</li>
                </ul>
            </span>
            <span class="spy_po">
                <h1 class="spy">Шпионские программы</h1>
                <p class="theory_of_spy">
                    <b>Шпионские программы</b> - общий термин для целого ряда вредоносных программ, которые позволяют следить за действиями пользователя в сети Интернет, 
                    а также собирать его конфиденциальные данные
                </p>
                <p class="kind">Виды:</p>
                <ul class="kinds_of_spy_po">
                    <li class="kinds_of_spy_po keylogger">
                        <b>Keylogger</b> - шпионское ПО, которое наблюдает за действиями зараженного устройства на клавиатуре. 
                        Они собирают информацию о посещаемых веб-сайтах, историю поиска в интернете и учетные данные.
                    </li>
                    <li class="kinds_of_spy_po stiller">
                        <b>Стиллер</b> - имена пользователей и пароли, номера кредитных карт, адреса электронной почты и т. д. 
                        Они также могут рассылать фишинговые письма вашим контактам.
                    </li>
                    <li class="kinds_of_spy_po bank_trojan">
                        <b>Банковские трояны</b> - это программы, которые изменяют веб-страницы, чтобы воспользоваться уязвимостями браузеров. 
                        Они задействуют поддельные банковские сайты, через которые жертвы осуществляют финансовые операции, 
                        и фиксируют нажатия клавиш, чтобы похитить учетные данные.
                    </li>
                </ul>
                <p class="example_spy_po">
                    <b>Примеры:</b> Fireball, Appearch, Trojan BPlug
                </p>
            </span>
            <span class="trojan_po">
                <h1 class="trojan">Троянские программы и черви</h1>
                <p class="theory_of_trojan">
                    <b>Троянские программы</b> - программы, маскирующиеся под легальное программное обеспечение, 
                    чтобы обманом заставить пользователей запустить вредоносные программы на компьютере. 
                    Троянские программы – это, своего рода, точки входа злоумышленников в систему. 
                    В отличие от червей, им для работы необходимо устройство. 
                    После установки троянской программы на устройство злоумышленники могут использовать ее для удаления, 
                    изменения и сбора данных с устройства в рамках ботнета, а также для слежки за устройством и получения доступа к сети.
                </p>
                <p class="theory_of_worms">
                    <b>Черви</b> - это один из наиболее часто встречающихся типов вредоносных программ, 
                    распространяющихся по компьютерным сетям, используя уязвимости операционной системы. 
                    Черви представляют собой отдельные программы, распространяющиеся путем самокопирования с целью заражения других компьютеров, 
                    при этом никаких действий со стороны пользователей или злоумышленников не требуется. Благодаря способности быстро распространяться, 
                    черви часто используются для выполнения фрагментов кода, созданного для повреждения системы, например, они могут удалять файлы в системе, 
                    шифровать данные для атаки программы-вымогателя, красть информацию и создавать ботнеты.
                </p>
                <p class="example_trojan">
                    <b>Примеры:</b> SQL Slammer, CryptoLocker, Qbot1
                </p>
            </span>
            <span class="virus_po">
                <h1 class="virus">Вирусы</h1>
                <p class="theory_of_virus">
                    <b>Вирус</b> - это фрагмент кода, который вставляется в приложение и запускается при его запуске. 
                    Попав в сеть, вирус может использоваться для кражи конфиденциальных данных, запуска DDoS-атак или атак программ-вымогателей. 
                    Обычно вирус распространяется через зараженные веб-сайты, при совместном доступе к файлам, при загрузке зараженных вложений электронной почты. 
                    Вирус бездействует до момента активации зараженного файла или программы. После этого вирус начинает распространяться в системе.
                </p>
                <p class="example_virus">
                    <b>Примеры:</b> Stuxnet, Brain, Mindspark
                </p>
            </span>
            <span class="cipher_po">
                <h1 class="cipher">Программы-вымогатели и программы-шифровальщики</h1>
                <p class="theory_of_cipher">
                    <b>Программы-вымогатели</b> - это вредоносные программы, осуществляющие блокировку или отказ доступа пользователей к системе или данным до момента выплаты выкупа. 
                    Программы-шифровальщики – это тип программ-вымогателей, выполняющих шифрование пользовательских файлов и требующих оплаты в определенный срок и часто в цифровой валюте, 
                    например, в биткойнах. Программы-вымогатели уже много лет представляют угрозу для компаний всех отраслей. 
                    По мере того как все больше компаний переходят на цифровые технологии, вероятность стать жертвой атак программ-вымогателей значительно возрастает. 
                </p>
                <p class="example_cipher">
                    <b>Примеры:</b> Maze1, WannaCry3, Locky4
                </p>
            </span>
            <span class="distribution_methods">
                <p class="ways">Все перечисленные виды вредоносного ПО подразделяются на:</p>
                <ul class="kind_of_ways">
                    <li class="kind_of_ways bad_po">Потенциально нежелательные программы</li>
                    <li class="kind_of_ways gibryd">Гибридные вредоносные программы</li>
                    <li class="kind_of_ways nonfiles">Бесфайловые программы</li>
                    <li class="kind_of_ways logicbomb">Логические бомбы</li>
                </ul>
                <h1 class="ways_distribution">Способы распространения</h1>
                <p class="begining">
                    Злоумышленники каждый год, начиная с 1971, разрабатывают вирусы, придумывают различные способы распространения, 
                    чтобы нанести большой вред пользователям или компаниям. К 2024 году было придумано большое множество ухищрений, 
                    лишь бы проникнуть в систему ПК ил серверов. Так какие бывают способы распространения?
                </p>
                <ul class="kinds_of_ways">
                    <li class="kind_of_ways email">
                        <b>Электронная почта.</b> В случае взлома электронной почты вредоносные программы могут отправлять с вашего адреса письма с зараженными вложениями или ссылками на вредоносные веб-сайты. 
                        Когда получатель открывает вложение или переходит по ссылке, вредоносная программа устанавливается на его компьютер и распространяется дальше.
                    </li>
                    <li class="kind_of_ways disk">
                        <b>Физические носители.</b> Злоумышленники могут загружать вредоносные программы на USB-накопители и ждать, 
                        пока ничего не подозревающие жертвы подключат их к компьютерам. Этот прием часто используется в корпоративном шпионаже.
                    </li>
                    <li class="kind_of_ways window">
                        <b>Всплывающие окна.</b> Этот способ распространения вредоносных программ включает ложные оповещения системы безопасности. 
                        Они предлагают загрузить поддельные программы безопасности, которые в некоторых случаях также могут оказаться вредоносными.
                    </li>
                    <li class="kind_of_ways wickness">
                        <b>Уязвимости.</b> Дефекты безопасности системы могут обеспечить несанкционированный доступ вредоносных программ к компьютеру, 
                        оборудованию или сети.
                    </li>
                    <li class="kind_of_ways backdoor">
                        <b>Бэкдоры.</b> Преднамеренно или непреднамеренно встроенные дефекты программного обеспечения, оборудования, 
                        сетей или системной безопасности.
                    </li>
                    <li class="kind_of_ways spy_download">
                        <b>Заражение путем скрытой загрузки.</b> Непреднамеренная загрузка программного обеспечения с ведома пользователя или без него.
                    </li>
                    <li class="kind_of_ways privilege">
                        <b>Эскалация привилегий.</b> Ситуация, когда злоумышленник получает расширенный доступ к компьютеру или сети, 
                        а затем использует его для атаки.
                    </li>
                    <li class="kind_of_ways uniformity">
                        <b>Однородность.</b> Если все системы работают под управлением одной операционной системы и подключены к одной сети, 
                        увеличивается риск распространения червей на другие компьютеры.
                    </li>
                    <li class="kind_of_ways combo">
                        <b>Комбинированные угрозы.</b> Пакеты вредоносных программ, объединяющие характеристики различных типов вредоносных программ, что затрудняет их обнаружение и устранение, 
                        поскольку они могут использовать различные уязвимости.
                    </li>
                </ul>
            </span>
            <span class="sign_of_infection">
                <h1 class="sign">Признаки заражения вредоносным ПО</h1>
                <ol class="all_sign">
                    <li class="all_sign slow">Медленная работа, сбои и зависание компьютера</li>
                    <li class="all_sign death">“Синий экран смерти”</li>
                    <li class="all_sign auto">Автоматическое открытие или закрытие или самостоятельное изменение программ</li>
                    <li class="all_sign nonspace">Отсутствие места для хранения</li>
                    <li class="all_sign windows">Увеличение количества всплывающих окон, панелей инструментов и нежелательных программ</li>
                    <li class="all_sign email">Отправка электронных писем и нежелательных сообщений без вашего ведома</li>
                </ol>
            </span>
            <div class="cyberbulling">
                <p class="start">
                    Первоначально, мы с командой помогали сотрудникам Сбер просвятить людей в области кибербезопасности. 
                    Также сюда мы отнесли такие важные темы как <strong>кибербуллинг и цифровую-финансовую грамотность.</strong>
                </p>
                <p class="theory_of_cyberbulling">
                    <b>Кибербуллинг</b> - это запугивание и травля с использованием цифровых технологий. Он может проходить в социальных сетях, 
                    в приложениях для обмена сообщениями, на игровых платформах и мобильных телефонах. 
                    Это повторяющиеся эпизоды, цель которых - напугать, разозлить или опозорить тех, кого преследуют. 
                    В дальнейшем кибербуллинг будет входить в упоминание об кибербезопасности.<br>
                    Важно помнить, что <b>кибербуллинг</b> — это скорее общее определение для разных видов травли в интернете, 
                    и его не стоит путать с кибермоббингом и кибертравлей.
                </p>
                <p class="cybermobbing">
                    <b>Кибермоббинг</b> - вид насилия в цифровой среде, реализуемый с помощью электронного текста (сообщений и комментариев).
                </p>
                <p class="cyberbull">
                    <b>Кибертравля</b> - причинение вреда человеку за счет длительного давления в интернет-пространстве: преследования, распространения слухов, запугивания.
                </p>
                <h1 class="cyberbull">Прмиеры кибербуллинга</h1>
                <p class="example_cyberbull">
                    Есть много способов сделать человеку больно. Например, написать токсичный комментарий под фотографией, 
                    оскорбить в групповом чате или на стенке в социальной сети, затроллить, 
                    выложить данные или подробности из личной жизни. Поводом для кибербуллинга чаще всего являются внешность, 
                    сексуальная ориентация и активность в интернете.<br>
                    Чаще всего человек не может сам защититься от кибербуллинга, 
                    но лишь небольшая часть пользователей готова поддержать жертву травли в сети. Исследователи выяснили, что:
                </p>
                <ul class="example_cyberbulling">
                    <li class="example_cyberbulling ethernet">52% респондентов никогда не заступались ни за кого в интернете</li>
                    <li class="example_cyberbulling support">65% считают публичную поддержку бессмысленной</li>
                    <li class="example_cyberbulling agressive">13% боятся, что агрессия перекинется на них</li>
                    <li class="example_cyberbulling wickness">20% полагают, что они бессильны и ничего не могут сделать, чтобы поддержать пострадавшего от кибербуллинга.</li>
                </ul>
                <h1 class="what_to_do">Что делать при травле в интернете?</h1>
                <p class="to_do_cyberbull">
                    Лучше всего обратиться к психологу, чтобы проработать проблему. 
                    Школьники могут получить поддержку у педагога-психолога, который работает в их учебном заведении. 
                    Чтобы защитить себя от агрессии, постарайтесь научиться отстаивать свои границы и говорить о своих чувствах. 
                    Не забывайте, что вы всегда можете прекратить общение с людьми, которые причиняют боль в интернете. 
                    Во всех социальных сетях есть функция блокировки нежелательных пользователей. 
                    Просто заблокируйте агрессора, тем самым закрыв ему доступ к дальнейшим негативным действиям.
                </p>
                
            </div>
            <span class="web_money">
                <h1 class="money">Цифровая-финансовая грамотность</h1>
                <p class="theory_web_money">
                    <b>Цифровая грамотность</b> - это умение пользоваться цифровыми устройствами, 
                    понимание современных технологий и их безопасное и эффективное использование, 
                    навыки корректной работы с информацией и даже соблюдение определенных мер безопасности в цифровой среде.
                </p>
                <p class="theory_web_money_reach">
                    <b>Цифровой финансовый охват</b> - это широкий спектр услуг, который подчеркивает цифровой доступ к традиционным финансовым и банковским услугам, 
                    трансформация финансовых услуг обеспечивает цифровую финансовую доступность даже в самых отдаленных уголках планеты
                </p>
            </span>
        </div>
        <footer>
            <h1>Хитров Евгений Иванович г.Асино 2024 год</h1>
        </footer>
    </body>
</html>